.header {
    background: url('../images/bg2.jpg') no-repeat center top / cover;
    height: 840px;
    position: relative;
}

.header::before {
    background: #7d2eb9;
    opacity: 0.45;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8464a5', endColorstr='#d64088',GradientType=1 ); /* IE6-9 */
    content: "";
    display: block;
    height: 840px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.main-title {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    letter-spacing: 0.07em;
    font-size: 3rem;
    margin-top: 293px;
}

.second-title {
    color: #fff;
    text-align: center;
    font-family: Roboto Regular;
    font-size: 1.6rem;
    font-weight: lighter;
}

.scroll-btn {
    text-align: center;
    margin-top: 110px;
}

.scroll-btn a {
    background: #4CAF50;
    padding: 12px 30px;
    color: #fff;
    border-radius: 25px;
    font-family: Roboto Regular;
    font-size: 0.9rem;
}

.scroll-btn a:hover {
    text-decoration: none;
}


/*second-section*/
.second-section {
    background: #CBCBCB;
    padding-bottom: 80px;
}

.form-container {
    background: #fff;
    padding: 50px 0 80px 0;
    border-radius: 7px;
    margin-top: -70px;
    position: relative;
    box-shadow: 1px 10px 18px -3px #000000;
}

.form-title {
    text-align: center;
    font-family: Roboto-Light;
    font-size: 3rem;
}

.forma {
    display: flex;
    flex-direction: column;
}

.forma input {
    border: none;
    border-bottom: 1px solid #999;
    color: #999;
}

.forma__checkbox {
    display: flex;
    justify-content: center;
    margin-right: 380px;
}

.forma__checkbox input {
    align-self: center;
    width: 10%;
    background: #000;
}

.forma__checkbox p {
    font-family: Roboto-Light;
    font-size: 0.7rem;
    margin-top: 17px;
}

.form__btn {
    width: 20%;
    background: #4CAF50;
    border: none;
    border-radius: 15px;
    padding: 5px 0;
    color: #fff;
    margin: 0 auto;
    font-family: Roboto Regular;
    font-size: 0.8rem;
    margin-top: 35px;
}